// Icons
//
// All icons created with SVG-edit
// https://github.com/SVG-Edit/svgedit

//
// Info icon
//
// <?xml version="1.0"?>
// <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
//   <g>
//     <circle id="circle" fill="none" stroke="#333" r="14" cx="15" cy="15"/>
//     <circle id="dot" fill="#333" stroke-width="0" r="1" cx="15" cy="7.5"/>
//     <path id="i" fill="#333" stroke-width="0" d="m12.5,11.5l3.5,0l0,11q0,0.5 0.5,0.5l1,0l0,1l-5,0l0,-1l1,0q0.5,0 0.5,-0.5l0,-9.5q0,-0.5 -0.5,-0.5l-1,0l0,-1z"/>
//   </g>
// </svg>
$SVGInfoIcon: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+DQo8c3ZnIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48Y2lyY2xlIGlkPSJjaXJjbGUiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzMzMyIgcj0iMTQiIGN4PSIxNSIgY3k9IjE1Ii8+PGNpcmNsZSBpZD0iZG90IiBmaWxsPSIjMzMzIiBzdHJva2Utd2lkdGg9IjAiIHI9IjEiIGN4PSIxNSIgY3k9IjcuNSIvPjxwYXRoIGlkPSJpIiBmaWxsPSIjMzMzIiBzdHJva2Utd2lkdGg9IjAiIGQ9Im0xMi41LDExLjVsMy41LDBsMCwxMXEwLDAuNSAwLjUsMC41bDEsMGwwLDFsLTUsMGwwLC0xbDEsMHEwLjUsMCAwLjUsLTAuNWwwLC05LjVxMCwtMC41IC0wLjUsLTAuNWwtMSwwbDAsLTF6Ii8+PC9nPjwvc3ZnPg==";


//
// Subscribe/Bookmark icon
//
// <?xml version="1.0"?>
// <svg width="27" height="31" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
//   <g>
//     <path id="mark" fill="none" stroke="#333" d="m0.5,1l25.5,0l0,28.5l-12.5,-9.5l-12.5,9.5l0,-28.5z"/>
//   </g>
// </svg>
$SVGSubscribeIcon: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+DQo8c3ZnIHdpZHRoPSIyNyIgaGVpZ2h0PSIzMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48cGF0aCBpZD0ibWFyayIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMzMzIiBkPSJtMC41LDFsMjUuNSwwbDAsMjguNWwtMTIuNSwtOS41bC0xMi41LDkuNWwwLC0yOC41eiIvPjwvZz48L3N2Zz4=";

// <?xml version="1.0"?>
// <svg width="27" height="31" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
//   <g>
//     <path id="mark" fill="#333" stroke="#333" d="m0.5,1l25.5,0l0,28.5l-12.5,-9.5l-12.5,9.5l0,-28.5z"/>
//   </g>
// </svg>
$SVGSubscribedIcon: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+DQo8c3ZnIHdpZHRoPSIyNyIgaGVpZ2h0PSIzMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48cGF0aCBpZD0ibWFyayIgZmlsbD0iIzMzMyIgc3Ryb2tlPSIjMzMzIiBkPSJtMC41LDFsMjUuNSwwbDAsMjguNWwtMTIuNSwtOS41bC0xMi41LDkuNWwwLC0yOC41eiIvPjwvZz48L3N2Zz4=";


//
// Door icons
//
// <?xml version="1.0"?>
// <svg width="27" height="31" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
//   <g>
//     <path id="door" fill="none" stroke="#333" d="m1,1l18,0l0,12.5m0,4l0,12.5l-18,0L1,.5"/>
//     <path id="arrow" fill="none" stroke="#333" d="m12,15.5l14.5,0M16,11l-4.5,4.5l4.5,4.5"/>
//   </g>
// </svg>
$SVGLoginIcon: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+DQo8c3ZnIHdpZHRoPSIyNyIgaGVpZ2h0PSIzMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48cGF0aCBpZD0iZG9vciIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBkPSJtMSwxbDE4LDBsMCwxMi41bTAsNGwwLDEyLjVsLTE4LDBMMSwuNSIvPjxwYXRoIGlkPSJhcnJvdyIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBkPSJtMTIsMTUuNWwxNC41LDBNMTYsMTFsLTQuNSw0LjVsNC41LDQuNSIvPjwvZz48L3N2Zz4=";

// <?xml version="1.0"?>
// <svg width="27" height="31" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
//   <g>
//     <path id="door" fill="none" stroke="#333" d="m1,1l18,0l0,12.5m0,4l0,12.5l-18,0L1,.5"/>
//     <path id="arrow" fill="none" stroke="#333" d="m12,15.5l14.5,0M22,11l4.5,4.5l-4.5,4.5"/>
//   </g>
// </svg>
$SVGLogoutIcon: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+DQo8c3ZnIHdpZHRoPSIyNyIgaGVpZ2h0PSIzMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48cGF0aCBpZD0iZG9vciIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBkPSJtMSwxbDE4LDBsMCwxMi41bTAsNGwwLDEyLjVsLTE4LDBMMSwuNSIvPjxwYXRoIGlkPSJhcnJvdyIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBkPSJtMTIsMTUuNWwxNC41LDBNMjIsMTFsNC41LDQuNWwtNC41LDQuNSIvPjwvZz48L3N2Zz4=";


//
// Search icon
//
// <?xml version="1.0"?>
// <svg width="28" height="31" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
//   <g>
//     <circle id="circle" fill="none" stroke="#333" r="10" cx="11" cy="11"/>
//     <path id="line" stroke="#333" d="m27.069691,30.15111l-9.641821,-11.490669"/>
//   </g>
// </svg>
$SVGSearchIcon: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+DQo8c3ZnIHdpZHRoPSIyOCIgaGVpZ2h0PSIzMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48Y2lyY2xlIGlkPSJjaXJjbGUiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzMzMyIgcj0iMTAiIGN4PSIxMSIgY3k9IjExIi8+PHBhdGggaWQ9ImxpbmUiIHN0cm9rZT0iIzMzMyIgZD0ibTI3LjA2OTY5MSwzMC4xNTExMWwtOS42NDE4MjEsLTExLjQ5MDY2OSIvPjwvZz48L3N2Zz4=";
