// Master include file

@import "variables";
@import "mixins";

/**
 * Groups
 */
/* Reset background, padding, border & margin */
%reset-all {
  /* Source for %reset-all */
  @include reset((background, padding, border, margin));
}

/* Set box-sizing to border-box */
%border-box {
  /* Source for %border-box */
  box-sizing: border-box;
}

/* Pseudo-element shared styles */
%pseudo {
  /* Source for %pseudo */
  content: "";
  position: absolute;
}
