/**
 * General module
 *
 * Encompasses links, buttons, etc.
 */

// Links
a:link,
a:hover,
a:visited {
  color: lighten($fgAccent, 15%);
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  @include extend('%heading');

  color: inherit;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.2em;
}

// Custom underline code
[style="text-decoration: underline"],
.hidden-label {
  /* Based on
   * https://medium.com/designing-medium/crafting-link-underlines-on-medium-7c03a9274f9
   */

  text-decoration: none !important;

  background-image: linear-gradient(to bottom, currentColor, currentColor);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0 1.06em;
}

// Text inputs
[type="text"],
textarea {
  @include extend('%border-box');
  @include extend('%transition03');

  background-color: $bgAccent;
  font-size: inherit;
  width: 100%;

  padding: 0.5em;
  border: 1px solid lighten($bgSub, 10%);
  border-radius: 0.3em;
  outline: none;

  &:hover {
    border-color: lighten($bgSub, 5%);
  }
  &:focus {
    border-color: $bgSub;
  }
}

textarea {
  resize: vertical;
}

// Buttons
[type="button"]:not(.btnbbcode),
[type="reset"],
[type="submit"],
button {
  @include extend('%reset-all');
  @include extend('%transition03');

  background-color: $bgAccent;
  font-size: inherit;
  font-family: Lato, 'Lucida Grande', 'DejaVu Sans', Verdana, sans-serif;

  padding: 0.2em 0.5em !important;
  border-bottom: 0.1em solid $bgSub;
  border-radius: 0.3em;
  box-shadow: 0 0 0 1px lighten($bgSub, 10%);
  cursor: pointer;

  &:hover {
    background-color: darken($bgAccent, 7%);
  }
  &:focus {
    background-color: darken($bgAccent, 12%);
  }
}
