/**
 * Header module
 *
 * Encompasses the header and the navigation bar
 */


//
// Placeholders
//

%title {
  /* Source for %title */
  @include extend('%heading');

  color: $fgHeader;
  text-shadow: 1px 1px 1px transparentize($ovrHeader, 0.4);
}


//
// The navigation bar
//

#navigation_box {
  @include extend('%reset-all');
  @include extend('%content-box');
  @include extend('%no-user-select');
  @include extend('%transition03');

  position: fixed;

  color: $t;
  background-color: $fgHeader;
  font-size: 1em;

  white-space: nowrap;
  padding: 0 1em;
  border-bottom: 1px solid $bgSub10;

  opacity: 0.95;
  z-index: 100;

  @include position(0, 0, 0);
  @include dimensions(auto, 3rem);

  a {
    @include extend('%title');

    display: inline;

    color: $ovrHeader;
    text-shadow: none;
    font-size: inherit;
    font-weight: 300;
    line-height: 3rem;

    padding: 1.1em 0.4em;
    border-top: 0.2em solid $ovrHeader;
    margin: 0 -0.3em;

    transition: $transitionDuration ease;
  }
}

#left_navigation_box {
  height: 100%;
  font-size: inherit;
  line-height: inherit;

  a:hover,
  a:focus,
  a:last-child {
    padding-top: 0.75em;
    color: darken($ovrHeader, 10%);
  }
}

#right_navigation_box {
  position: relative;
  margin-right: 2.7rem;

  @include dimensions(7.5em, 3em);

  a {
    @include extend('%border-box');
    @include extend('%transition03');

    position: absolute;
    color: $t;
    font-size: 0.01px;

    background: {
      color: $t;
      repeat: no-repeat;
      size: auto 40%;
      position: center;
    }

    @include dimensions(2.5rem, 3rem);

    &:hover,
    &:focus {
      background-color: $bgSub10;
      border-bottom: none !important;
    }
  }


  //
  // Icons
  //

  // Info icon

  .blog-info {
    left: 0;
    background-image: url("#{$SVGInfoIcon}");
  }

  // Subscribe icon
  //
  // [title*="stop"] - The icon when the user is already subscribed

  #blog-subscribe {
    left: 2.5rem;

    background-image: url("#{$SVGSubscribeIcon}");

    &[title*="stop"] {
      background-image: url("#{$SVGSubscribedIcon}");
    }
  }

  // Login/logout icon

  .blog-login,
  .blog-logout {
    left: 5rem;

    background-image: url("#{$SVGLoginIcon}");
  }

  .blog-logout {
    background-image: url("#{$SVGLogoutIcon}");
  }

  // Move info icon when user is not logged in and cover RSS icon dot
  .blog-login + .blog-info {
    left: 2.5rem;
    background-color: $fgHeader;
    z-index: 12;

    &:hover {
      background-color: $bgSub10;
    }
  }
}


//
// Blog title
//

#header {
  position: fixed;
  height: 2em;
  z-index: 0;

  @include position(calc(36vh - 2.5rem), 0, 0);
  @include reset(background border);

  h1 {
    @include extend('%title');
    @include extend('%reset-all');
    @include extend('%no-user-select');

    font-size: 5rem;
    font-weight: 200;
    text-decoration: none;
    z-index: 10;
  }

  // Add small home icon as an accessibility aid
  a:focus h1::before {
    content: "\f015";
    position: absolute;

    font-family: FontAwesome;
    font-size: 0.6em;
    opacity: 0.3;
    margin-left: -1em;
  }
}
