/**
 * Header module
 *
 * Encompasses the header and the navigation bar
 */

// Placeholders

%title {
  /* Source for %title */
  color: $fgHeader;
  font-family: Raleway, Lato, Roboto, 'Segoe UI', 'Lucida Grande', 'DejaVu Sans', sans-serif;
  text-shadow: 1px 1px 1px transparentize($bgHeader, 0.4);
}

%nav-bar {
  /* Source for %nav-bar */
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: transparentize($bgHeader, 0.4);
  }
}

// The navigation bar, containing navigation
//
// Styleguide Header.NavigationBox.

#navigation_box {
  @include extend('%reset-all');
  @include extend('%nav-bar');

  position: fixed;
  color: $t;
  background-image: linear-gradient(to bottom, transparentize($bgHeader, 0.75) 0%, transparentize($bgHeader, 0.8) 20%, transparentize($bgHeader, 0.95) 80%, $t 100%);
  font-size: 1em;
  white-space: nowrap;
  padding: 0.2em 1em;
  padding-top: 0.1em;
  z-index: 10;
  opacity: 0.8;

  @include position(0, 0, 0);

  &:hover {
    opacity: 1;
  }

  a {
    @include extend('%title');
    @include extend('%nav-bar');

    font-weight: 300;
    line-height: 3em;
    padding: 1em 0.4em;
    margin: 0 -0.3em;
  }
}


// The header, containing the blog title
//
// h1 - The blog's title
//
// Styleguide Header.Header.

#header {
  position: fixed;
  height: 2em;

  @include position(36vh, 0, 0);
  @include reset((background, border));

  h1 {
    @include extend('%title');
    @include extend('%reset-all');

    font-size: 1.1em;
    font-weight: 200;
  }
}
