/**
 * Header module
 *
 * Encompasses the header and the navigation bar
 */

// Placeholders

%title {
  /* Source for %title */
  @include extend('%heading');

  color: $fgHeader;
  text-shadow: 1px 1px 1px transparentize($ovrHeader, 0.4);
}

// The navigation bar

#navigation_box {
  @include extend('%reset-all');
  @include extend('%content-box');
  @include extend('%no-user-select');
  @include extend('%transition03');

  position: fixed;

  color: $t;
  background-color: $fgHeader;
  font-size: 0.9em;

  white-space: nowrap;
  padding: 0 1em;
  border-bottom: 1px solid lighten($bgSub, 13%);

  opacity: 0.95;
  z-index: 100;

  @include position(0, 0, 0);
  @include dimensions(auto, 3rem);

  a {
    @include extend('%title');

    display: inline;

    color: $ovrHeader;
    text-shadow: none;
    font-size: inherit;
    font-weight: 300;
    line-height: 3rem;

    padding: 1.1em 0.4em;
    border-top: 0.3em solid lighten($ovrHeader, 2%);
    margin: 0 -0.3em;

    transition: 0.2s ease;

    &:hover {
      padding-top: 0.8em;
      color: darken($ovrHeader, 10%);
    }

    @at-root #left_navigation_box a:last-child {
      @extend :hover;
    }
  }
}

#left_navigation_box {
  height: 100%;
  font-size: inherit;
  line-height: inherit;
}

#right_navigation_box {
  position: relative;
  margin-right: 2.2rem;

  @include dimensions(7.5em, 3em);

  a {
    @include extend('%border-box');
    @include extend('%transition03');

    position: absolute;
    color: $t;
    font-size: 0.01px;

    @include dimensions(2.5rem, 3rem);
    // The icon covers the bottom border in Chrome
    @include no-prefix { border-bottom: -webkit-calc(1px) solid lighten($bgSub, 13%); }

    &:hover {
      background-color: lighten($bgSub, 16%);
    }
  }

  //
  // Icons
  //

  &::before,
  &::after,
  a::before,
  a::after {
    @include extend('%pseudo');

    background-color: invert($fgSub);
    font-size: 0.8rem;
    pointer-events: none;
  }
  &::before,
  &::after {
    z-index: 11;
  }

  // Info icon
  //
  // &::before - the body of the "i"
  // &::after  - the dot of the "i"
  .blog-info {
    left: 0;

    &::before {
      @include position(1.8em, 1.5em);
      @include dimensions(1px, 0.85em);
    }
    &::after {
      border-radius: 3px;

      @include position(1.2em, calc(1.5em - 1px));
      @include dimensions(3px, 3px);
    }
  }

  // Subscribe icon
  //
  // &::before - the outer "ring"
  // &::after  - the inner "ring"
  // $parent::before - the central dot
  #blog-subscribe {
    left: 2.5rem;

    &::before,
    &::after {
      background-color: $t;
      border: solid invert($fgSub);
      border-width: 1px 1px 0 0;
    }
    &::before {
      border-top-right-radius: 1.5em;

      @include position(1.2em, 0.8em);
      @include dimensions(1.5em);
    }
    &::after {
      border-top-right-radius: 0.9em;

      @include position(1.8em, 0.8em);
      @include dimensions(0.9em);
    }
  }
  &::before {
    border-radius: 0.3em;

    @include position(2.4em, 3.95em);
    @include dimensions(0.3em);
  }

  // Login/logout icon
  //
  // &::before - the door(frame)
  // &::after  - the tip of the arrow
  // $parent::after - the stem of the arrow
  .blog-login,
  .blog-logout {
    left: 5rem;

    &::before,
    &::after {
      background-color: $t;
      border: 1px solid invert($fgSub);
    }
    &::before {
      @include position(1.1em, 0.9em);
      @include dimensions(1em, 1.61803em); // Golden ratio
    }
    &::after {
      border-width: 1px 1px 0 0;
      z-index: 12;

      transform: rotate(45deg);

      @include position(1.7092em, 1.85em);
      @include dimensions(0.4em);
    }
  }
  .blog-login::after {
    left: 1.4em;
    transform: rotate(-135deg);
  }
  &::after {
    box-sizing: content-box;
    border: 3px solid $fgHeader;
    border-left: none;

    @include position(calc(1.8092em - 3px), 7.65em);
    @include dimensions(0.8em, 1px);
  }

  // Move info icon when user is not logged in and cover RSS icon dot
  .blog-login + .blog-info {
    left: 2.5rem;
    background-color: $fgHeader;
    z-index: 12;

    &:hover {
      background-color: lighten($bgSub, 16%);
    }
  }
}

// The header

#header {
  position: fixed;
  height: 2em;

  @include position(31vh, 0, 0);
  @include reset((background, border));

  h1 {
    @include extend('%title');
    @include extend('%reset-all');
    @include extend('%no-user-select');

    font-size: 1.1em;
    font-weight: 200;
    z-index: 10;

    // Remove extra space from first letter in Chrome
    &::first-letter {
      @include no-prefix { margin-right: -webkit-calc(-0.08em); }
    }
  }
}
