/**
 * Layout module
 *
 * Encompasses body, wrapper, and general layout
 */

// Body

body {
  font-family: Merriweather, Garamond, times, serif;
  font-size: 1rem;
  color: $fgGeneral;
  overflow-x: hidden;

  &::after {
    @include extend('%pseudo');

    position: fixed;

    /* Background picture modified from
       http://wallpaperswide.com/manhattan-wallpapers.html */
    background-image: url('//cdn.artofproblemsolving.com/images/5/0/7/507c1c71bf8a07bfe0c49976c9f2a42220fccc75.jpg');
    background-position: 42% 0;
    background-size: cover;

    z-index: -1;

    @include position(0, -1em, -1em, 0);
    @include filter("blur", 3px);
  }
}

#wrapper {
  @include extend('%border-box');

  width: 100%;
  padding: 0;

  @include reset((background, border));
}

#content {
  position: relative;
  background-color: $bgGeneral;
  padding: 0 calc((100% - 48em) / 2); // Keep width of content constant relative to font size
  padding-top: 5vh;
  margin-top: 72vh;

  // Create a not-so-subtle floor fade
  &::before {
    @include extend('%pseudo');

    background-image: linear-gradient(
      to top,
      transparentize($ovrHeader, 0.6) 0,
      transparentize($ovrHeader, 0.9) 60%,
      $t 100%
    );

    @include position(-15vh, 0, 0, 100%);
  }
}
