/**
 * Layout module
 *
 * Encompasses body, wrapper, and general layout
 */

// Body

body {
  font-family: Merriweather, Garamond, times, serif;
  font-size: 1rem;
  color: $fgGeneral;
  overflow-x: hidden;

  &::after {
    @include extend('%pseudo');

    position: fixed;

    /* Background picture taken by me, NMK
     * CC-BY SA 4.0 https://creativecommons.org/licenses/by-sa/4.0
     * Vienna, October 2015 */
    background-image: url('//cdn.artofproblemsolving.com/attachments/6/0/b1a1d0345461b5089850fb65d52df908d4d177.jpg');
    background-position: 0;
    background-size: cover;

    z-index: -1;

    @include position(0, 0, 0, 25vh);
  }
}

#wrapper {
  @include extend('%border-box');

  width: 100%;
  padding: 0;

  @include reset((background, border));
}

#content {
  position: relative;
  background-color: $bgGeneral;
  padding: 0 calc((100% - 48em) / 2); // Keep width of content constant relative to font size
  padding-top: 5vh;
  margin-top: 72vh;

  // Create a not-so-subtle floor fade
  &::before {
    @include extend('%pseudo');

    background-image: linear-gradient(
      to top,
      transparentize($ovrHeader, 0.6) 0,
      transparentize($ovrHeader, 0.9) 60%,
      $t 100%
    );

    @include position(-15vh, 0, 0, 100%);
  }
}
