/**
 * Main module
 *
 * Encompasses #main, entries, comments, and postform
 */

#main {
  @include extend('%reset-all');
  @include extend('%border-box');

  position: relative;
  width: 100%;
  padding-bottom: 3em;
}

// Entries

// Add margin to first entry
#main > div:first-child {
  margin-top: 1em;
}

div.entrywrap,
div.entry {
  line-height: 2em;

  @include reset((background-color, border));
}

div.entrywrap a {
  text-decoration: none !important;
}

div.entry {
  position: relative;
  padding: 0 1.2em;
  margin: 0 -1.4em;

  h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0;
  }
  h2 {
    font-size: 0.9em;
    margin-left: 0.3em;

    // Permalink
    > a::before {
      @include extend('%transition03');

      content: "\00B6";
      position: absolute;
      color: $t;
      font-size: 1.7em;
      margin-right: 0.3em;

      @include position(-2.15rem, -1em);
    }
    img {
      display: none;
    }

    // Overwrite inline style of username links
    .username-colored,
    .username-coloured {
      color: $fgAccent !important;
      font-weight: normal;
    }
  }
  &:hover h2 > a::before {
    color: $bgSub;
  }
}

div.commentwrap {
  @include extend('.entrywrap');

  padding: 0.5em;
  margin: 0.5em;
}

div.comment {
  @include extend('.entry');
}

// Replace image in comment footer with hedera
.cfooter .author {
  margin: 0.7em 0;

  &::before {
    content: "\2767";
    font-size: 1.3em;
    vertical-align: middle;
    margin-right: 0.1em;
  }
  img {
    display: none;
  }

  // Make username link "pop" less
  strong {
    font-weight: normal;
  }
}

.message {
  overflow-x: auto;

  // Links
  a:link,
  a:hover,
  a:visited {
    @include extend('[style="text-decoration: underline"]');
  }
  a:visited {
    color: $fgGeneral;
  }

  // Hidden labels
  .cmty-hide-heading,
  .cmty-hide-heading:hover {
    border-bottom: none;
  }
  .cmty-hide-content {
    @include extend('%reset-all');
  }
}

div.actions,
div.modactions {
  font-size: 0.7em;
}

// Quote blocks

.bbcode_quote,
.bbcode_quote_head,
.bbcode_quote_body {
  @include extend('%reset-all');
}

.bbcode_quote {
  width: 90%;
  margin: auto;
}

.bbcode_quote_head {
  @include extend('%heading');

  color: $fgSub;
  font-size: 1.1em;
  font-weight: normal;
  margin-left: 1rem;

  // Remove quote symbol
  &::before {
    content: "";
  }
}

.bbcode_quote_body {
  font-size: 1.4em;
  margin: 0.5em 1rem;

  // Reduce font size and margins on nested quotes
  .bbcode_quote_head {
    font-size: 0.7em;
    margin-top: 1rem;
  }
  .bbcode_quote_body {
    font-size: 0.8em;
  }
}

// Code blocks

pre {
  position: relative;
  font-family: Monaco, 'DejaVu Mono', Consolas, monospace;
  white-space: pre;
  overflow-x: auto;
  margin: 0.5em 1rem;

  &[class] a:link {
    background-image: none;
  }

  // Annotate with code types
  &::before {
    @include extend('%transition03');

    content: "code";
    position: absolute;

    background-color: $bgGeneral;
    color: $fgSub;
    opacity: 0.8;
    padding: 0 0.7em;

    @include position(0, null, 0);
  }
  // If the code is in a language, then we display what language it is
  &[class]::before {
    content: attr(class);
  }
  // Fade on hover to avoid obscuring code
  &:hover::before {
    opacity: 0.2;
  }

  // Some languages could have better names
  &.cpp::before {
    content: "c++";
  }
}
