/**
 * Main module
 *
 * Encompasses #main, entries, comments, and postform
 */

#main {
  @include extend('%reset-all');
  @include extend('%border-box');

  position: relative;
  width: 100%;
}

div.entrywrap,
div.entry {
  line-height: 2em;

  @include reset((background-color, border));
}

div.entrywrap {
  a {
    @include extend('[style="text-decoration: underline"]');

    background-image: linear-gradient(
      to bottom,
      lighten($fgAccent, 30%),
      lighten($fgAccent, 30%)
    );
  }
}

div.entry {
  h2 {
    font-size: 0.9em;
    margin-left: 0.2em;
  }

  img[alt='Permanent Link'] {
    display: none;
  }
}

div.commentwrap {
  @include extend('.entrywrap');
}

div.comment {
  @include extend('.entry');
}
