/**
 * @media module
 */


@media all {
  html {
    font-size: 17px;
  }
}


//
// Mobile-specific styles
//

// Small-screened devices. This applies to any screen with a viewport width of <= 1000px

@media only screen and (max-width: 1000px) {
  body::after {
    top: -41rem;
    bottom: 0;
  }

  #content {
    margin-top: 20rem;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
  }

  #content::before {
    display: none;
  }

  #header {
    top: 7.75rem;
  }

  #header h1 {
    font-size: 3.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #navigation_box {
    font-size: 0;
    opacity: 1;
  }

  #left_navigation_box a:nth-last-child(2) {
    display: inline-block;
    font-size: 1rem;
    padding: 0 0.7em;
    border-top: none;

    &:hover {
      background-color: $bgSub10;
    }

    &::before {
      content: "\3008";
      font-size: 0.9em;
      padding-right: 0.2em;
    }
  }

  #right_navigation_box {
    display: none;
  }

  #blog_keywords + div {
    height: calc(3rem + 1px); // cover space below icon
  }

  #blog_keywords:focus {
    width: 100%;
  }

  #user-menu-widget .username-colored {
    display: none;
  }

  div.quotetitle,
  div.quotecontent {
    border-left: 1px solid $bgSub;
    padding-left: 0.5rem;
    margin: 0;
  }

  div.quotecontent {
    padding-top: 0.5em;
  }

  .codetitle {
    display: block;
    margin-top: 1em;

    b {
      font-weight: normal;
    }
  }

  pre::before {
    display: none;
  }

  // Posting stuff

  // Deny scrolling when posting modal is open, to prevent scrolling-related bugs (of which there
  // are too many to list)
  .aops-modal-open {
    position: fixed;
    overflow: hidden;

    @include reset(width height);
  }

  // Remove split view
  .cmty-posting-modal .cmty-post-preview,
  .cmty-posting-preview-bar {
    display: none !important;
  }

  .cmty-posting-modal .cmty-posting-box-container {
    width: 100%;
    float: none;
  }

  .cmty-posting-modal .cmty-posting-button-row {
    display: none;
  }

  .cmty-posting-modal .cmty-posting-button-row.cmty-phone {
    display: block;

    .cmty-posting-environ-buttons {
      width: auto;
    }

    .btn {
      display: inline-block;
      width: auto;
    }
  }

  .cmty-post-textarea,
  .cmty-post-textarea:focus {
    border-width: 0 0 1px;
    border-radius: 0; // dangit iOS
  }
}

// Landscape mode requires slight edits

@media only screen and (max-width: 1000px) and (orientation: landscape) {
  body::after {
    top: -4rem;
  }

  #content {
    margin-top: 16rem;
  }

  #header {
    top: 5.75rem;
  }

  #user-menu-widget .avatar {
    top: -2.1rem;
    margin-left: -1.6rem;

    img {
      @include dimensions(3rem);
    }
  }
}
