/**
 * @media module
 */

@media all {
  html {
    font-size: 17px;
  }
}

// Mobile view

@media only screen and (max-width: 800px),
       only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-device-width: 768px) and (max-device-width: 1024px)
                   and (min-resolution: 132dpi),
       only screen and (min-resolution: 1.5dppx) {

  html {
    font-size: 1rem;
    font-size: 2.5vh;
  }

  // smaller sized image
  body::after {
    background-image: url('http://i.imgur.com/25xM0pc.png');
  }

  // Viewport unit fallback for old mobile browsers
  #content {
    margin-top: 6rem;
    margin-top: 72vh;
  }

  #content::before {
    display: none;
  }

  #header h1 {
    font-size: 3rem;
    text-overflow: ellipsis;
  }

  #navigation_box {
    font-size: 0.01px;
    opacity: 1;
  }

  #left_navigation_box a:nth-last-child(2) {
    display: inline-block;
    font-size: 1rem;
    padding: 0 0.7em;
    border-top: none;

    &:hover {
      background-color: lighten($bgSub, 16%);
    }
    &::before {
      content: "\3008";
      font-size: 0.9em;
      padding-right: 0.2em;
    }
  }

  #right_navigation_box {
    display: none;
  }

  #blog_keywords + div {
    height: calc(3rem + 1px); // cover space below icon
  }

  #blog_keywords:focus {
    width: 100%;
  }

  #user-menu-widget strong a {
    display: none;
  }

  div.quotetitle,
  div.quotecontent {
    border-left: 1px solid $bgSub;
    padding-left: 0.5rem;
    margin: 0;
  }

  div.quotecontent {
    padding-top: 0.5em;
  }

  .codetitle {
    display: block;
    margin-top: 1em;

    b {
      font-weight: normal;
    }
  }

  .codecontent {
    white-space: normal;
    overflow-x: visible;
    margin-left: 0;

    ol {
      white-space: pre;
      margin-left: 0;
    }

    > div::before {
      top: -2.5rem;
    }
    &:hover > div::before {
      opacity: 0.8
    }
  }
}

// Landscape mode requires slight edits

@media only screen and (max-width: 800px) and (orientation: landscape),
       only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape),
       only screen and (min-device-width: 768px) and (max-device-width: 1024px)
                   and (min-resolution: 132dpi) and (orientation: landscape),
       only screen and (min-resolution: 1.5dppx) and (orientation: landscape) {
  html {
    font-size: 5vh;
  }

  body::after {
    background-image: url('http://i.imgur.com/sC2zr6O.png');
  }

  #content {
    margin-top: 90vh;
  }

  #user-menu-widget .avatar {
    top: -1.6rem;
    margin-left: -1.6rem;

    img {
      @include dimensions(3rem);
    }
  }

  .comment:nth-child(2),
  #postform:first-child {
    margin-top: -80vh;
  }
}
