/**
 * Miscellaneous stuff
 */

// Post new entry
#post-new-entry {
  @include extend('%heading');

  &-img {
    display: none;
  }
}

// Tags
div.post-tags {
  font-size: 0.9em;
  margin-top: 2em;
}

.cmty-item-tag {
  @include extend('%transition03');

  background-color: $bgGeneral !important;
  color: $fgSub !important;

  font-size: 0.7em;

  &:hover {
    background-color: $bgSub10 !important;
  }
}

.cmty-items-input {
  display: inline;
  width: auto;
  background-color: #e6e6e6;
  padding: 0.1em 0.2em !important;
}

// Hide feed
#feed-wrapper {
  display: none;
}

// "Comment" heading between each entry and its comments
#main > p:not([id]) {
  position: relative;
  float: right;
  margin-top: 1.5em;
  z-index: 1;

  a:link,
  a:hover,
  a:visited {
    color: $fgSub;
  }
}

#main > h1 {
  padding-bottom: 0.2em;
  border-bottom: 1px solid $bgSub10;
  margin-top: 0.5em;
  margin-bottom: 1.3em;
}

// <3
#main::after {
  content: "City.css made by NMK, with \2665.";
  position: relative;
  top: 2em;
  font-size: 0.8em;
  font-family: Lato, 'Lucida Grande', 'DejaVu Sans', Verdana, sans-serif;
  color: $fgSub;
  display: block;
  text-align: center;
}
