/**
 * Miscellaneous stuff
 */

//
// Post new entry
//
#post-new-entry {
  @include extend('%modal-font');

  &-img {
    display: none;
  }
}

//
// Tags
//
div.post-tags {
  font-size: 0.9em;
  margin-top: 2em;
}

.cmty-item-tag {
  @include extend('%transition03');

  background-color: $bgGeneral !important;
  color: $fgSub !important;

  font-size: 0.7em;

  &:hover {
    background-color: $bgSub10 !important;
  }
}

.entrywrap .cmty-items-input {
  @include extend('%transition03');

  display: inline;
  width: auto;

  background-color: $t !important;
  padding: 0em 0.2em !important;

  /* Following styles copied from text inputs; see general.scss */
  border-width: 0 0 1px !important;
  border-style: solid !important;
  border-color: $bgSub5 !important;

  &:hover {
    border-color: $bgSub !important;
  }
  &:focus {
    padding: 0em 0.2em !important;
    border-color: $fgSub !important;
  }
}

.cmty-editable-item-close {
  @include extend('button');

  font-family: AoPS;

  &:hover {
    background-color: $bgGeneral;
  }
}

//
// Hide feed
//
#feed-wrapper {
  display: none;
}

//
// "Comment" heading between each entry and its comments
//
#main > h1 {
  padding-bottom: 0.2em;
  border-bottom: 1px solid $bgSub10;
  margin-top: 0.5em;
  margin-bottom: 1.3em;
}

#main > p:not([id]) {
  position: relative;
  float: right;
  z-index: 1;

  margin-top: 1.5em;

  a:link,
  a:hover,
  a:visited {
    color: $fgSub;
  }
}

//
// Fix fonts of modals and flyout
//
.aops-modal-title {
  @include extend('%heading');
}

.aops-modal-body,
#flyout {
  @include extend('%modal-font');
}

#flyout {
  text-align: left;
  padding-right: 5px;
}

// <3
#main::after {
  @include extend('%modal-font');

  content: "City made by NMK, with \2665.";
  position: relative;
  top: 2em;
  display: block;

  color: $fgSub;
  font-size: 0.8em;
  text-align: center;
}
