/**
 * Posting module
 *
 * Encompasses posting & commenting forms
 */

fieldset {
  @include extend('%reset-all');
}

// Fix font of posting popup
.cmty-posting-environ {
  position: relative;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

// Fix positioning of buttons
.cmty-posting-environ-buttons .btn {
  vertical-align: top;
}


// Extend message styles to preview box
.cmty-post-preview-text {
  @include extend('.message');
}

// Hide comment reply window (inline styles prevent this)
.blog-reply-window {
  display: none !important;

  // Overwrite last style and show when open
  &.blog-reply-open {
    display: block !important;
  }
  // Clearfix to prevent comment link from affecting the comment reply window
  &.blog-reply-open:before {
    content: "";
    display: table;
    clear: both;
  }
}

