// Side module
// Encompasses sidebar

.widget {
  display: none;
}

.widget:not([id]) {
  display: block;
  position: fixed;
  top: 0;
  z-index: -1;
}

#user-menu-widget {
  p {
    display: none;
  }

  .avatar {
    position: absolute;
    display: block;
    margin-left: -2.5em;

    @include position(-3.5em, 50%);

    img {
      background-color: $fgSub;
      display: block;
      color: $t;
      border-radius: 50%;
      border: 1px solid $fgSub;

      @include dimensions(5em);
    }
  }

  strong a {
    @include extend('.avatar');

    top: -2.5rem;
    font-family: Raleway;
    font-size: 80%;
    text-overflow: ellipsis;
    color: $t;
    line-height: 5rem;
    border-radius: 50%;
    padding: 0.1rem;
    margin-left: -2.5rem;
    overflow: hidden;
    z-index: 1;
    transition: 0.25s ease-in;

    @include dimensions(4.9rem);

    &::after {
      content: "";
      position: absolute;

      background-image: linear-gradient(
        to bottom,
        $t,
        $t 10%,
        transparentize($bgHeader, 0.5)
      );
      background-position: 50% 0;
      transition: 0.25s ease-out;
      z-index: -1;

      @include position(-100%, 0, 0, 100%);
    }

    &:hover {
      color: $fgHeader;

      &::after {
        top: 0;
        bottom: 0;
      }
    }
  }
}
