// Variables

// Default palette. Use in all (slight variations permitted) situations.
//
// $bgGeneral - General background. Use for, well, general backgrounds.
// $fgGeneral - General text colour. Use for general text
// $bgAccent  - Accent background colour. Use for backgrounds that require
//              attention
// $fgAccent  - Accent foreground colour. Use for foregrounds that require
//              attention
// $fgHeader  - Header text colour. Use for text in the header
// $ovrHeader - Overlay colour. Use for text overlayed on images
//
// Sub palette. Use in situations that require "down-popping".
//
// $bgSub     - Muted gray background
// $bgSub5    - $bgSub, 5% lighter
// $bgSub10   - $bgSub, 10% lighter
// $fgSub     - Muted gray foreground

$bgGeneral: #fff;
$fgGeneral: #444;
$bgAccent: #ffffcf;
$fgAccent: #090909;

$fgHeader: #fff;
$ovrHeader: #333;

$bgSub: #ccc;
$bgSub5: #d9d9d9;
$bgSub10: #e6e6e6;

$fgSub: #aaa;

$t: transparent;

// Animation timing variables
// $transitionDuration       - Default duration of all UI transitions
// $postingAnimationDuration - Duration of default animations in post.scss
$transitionDuration: 0.3s;
$postingAnimationDuration: 6s;
